@import (less, reference) '../../assets/styles/colors.less';
@import (less, reference) '../../assets/styles/mixins.less';

.city {
  display: flow-root;
  .fontOpenSans();
  text-align: left;
  width: 100%;
  background-color: @color-white;
  border: 1px solid @color-gray;
  border-radius: 4px;
  margin: 10px auto;
  padding: 10px 25px;
  box-sizing: border-box;
  box-shadow: 0 1/8rem 1/8rem 0 @color-shadow;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    border-color: @color-dark-gray;
    box-shadow: 0 1/8rem 1/8rem 0 @color-shadow-dark;
    transform: scale(1.05);
  }

  .column-1 {
    display: inline-block;
    float: left;
    width: 50%;
    text-align: left;
  }
  .column-2 {
    display: inline-block;
    float: right;
    width: 50%;
    text-align: right;
  }

  .name {
    font-size: 18px;
    font-weight: 400;
    color: @color-text-light;
  }

  .desc {
    font-size: 16px;
    color: @color-text-light;
  }

  .temp {
    position: relative;
    margin-right: 10px;

    .units {
      font-size: 40px;
      line-height: 40px;
      font-weight: 600;
    }
    .metrics {
      .fontRoboto();
      font-size: 20px;
      font-weight: 300;
      position: absolute;
      top: 2px;
    }
  }
}
