@import (less, reference) '../../assets/styles/colors.less';
@import (less, reference) '../../assets/styles/mixins.less';

.weather {
  position: relative;
  display: flow-root;
  width: 80%;
  max-width: 1200px;
  background-color: @color-white;
  border: 1px solid @color-gray;
  border-radius: 4px;
  margin: 10px auto;
  padding: 10px 50px;
  box-shadow: 0 1/8rem 1/8rem 0 @color-shadow;

  .column-1 {
    display: inline-block;
    float: left;
    width: 200px;
    text-align: left;
    margin-top: 16px; //Temporary
  }
  .column-2 {
    display: inline-block;
    float: left;
    width: calc(50% - 200px);
    text-align: left;
  }
  .column-3 {
    display: inline-block;
    float: right;
    width: 50%;
    text-align: right;
  }

  .name {
    font-size: 20px;
    font-weight: 400;
    color: @color-text-light;
  }
  .flag {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    margin-bottom: 1px;
  }
  .desc {
    font-size: 16px;
    color: @color-text-light;
  }

  .temp {
    position: relative;

    .units {
      .fontOpenSans();
      font-size: 64px;
      font-weight: 400;
    }
    .metrics {
      .fontRoboto();
      font-size: 18px;
      font-weight: 300;
      position: absolute;
      top: 16px;
    }
  }

  .cancel-button .icon-cancel {
    opacity: 0;
  }
  &:hover .cancel-button .icon-cancel {
    opacity: 0.25;
  }
  &:hover .cancel-button:hover .icon-cancel {
    opacity: 1;
  }
}
