@import (once, inline) "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto:100,300,400,500,700,900";
@import (less) "@fortawesome/fontawesome-free/less/fontawesome.less";
@import (less) "@fortawesome/fontawesome-free/less/solid.less";
@import (less, reference) "./mixins.less";
@import (less, reference) "./colors.less";

html {
  background-color: @color-background;
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  .fontRoboto();
  padding: 0;
  margin: 0;
  color: @color-header;
}
