@font-face {
	font-family: "bruga-weather-fonts";
	src: url("/bruga-weather/fonts/bruga-weather-fonts.woff2?f1bd574a092cde606097") format("woff2"),
url("/bruga-weather/fonts/bruga-weather-fonts.woff?f1bd574a092cde606097") format("woff"),
url("/bruga-weather/fonts/bruga-weather-fonts.ttf?f1bd574a092cde606097") format("truetype"),
url("/bruga-weather/fonts/bruga-weather-fonts.svg?f1bd574a092cde606097#bruga-weather-fonts") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.b-icon {
  display: inline-block;
  font-family: bruga-weather-fonts !important;
  speak: never;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  .b-icon-city-solid::before {
  	content: "\f101";
  }
  .b-icon-cloud-sun-rain-solid::before {
  	content: "\f102";
  }
  .b-icon-heart-solid::before {
  	content: "\f103";
  }
  .b-icon-search-solid::before {
  	content: "\f104";
  }
  .b-icon-spinner-third-solid::before {
  	content: "\f105";
  }
  .b-icon-times-solid::before {
  	content: "\f106";
  }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0B4gaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1x4gaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4gaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgshZ1x4gaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1MmgVxIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfBBc9.ttf) format('truetype');
}

@keyframes spinnerAc {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
html {
  background-color: #f8f9fa;
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  color: #495057;
}
.b-spin {
  animation: spinnerAc 2s linear infinite;
}

.header {
  display: block;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  padding: 12px 25px;
  background-color: #fff;
  box-shadow: 0 1/4rem 1/8rem 0 rgba(0, 0, 0, 0.05);
  z-index: 5;
}
.header.flex-box {
  display: flex;
  align-items: center;
}
@media (min-width: 590px) {
  .header {
    padding: 12px 50px;
  }
}
@media (min-width: 1280px) {
  .header {
    padding: 12px 80px;
  }
}
.header .header-title {
  font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin-left: 8px;
  letter-spacing: 1px;
  font-weight: 500;
}
.header .header-icon {
  font-size: 24px;
  color: #fff;
  background-color: #15aabf;
  padding: 10px 11px 10px 9px;
  border-radius: 4px;
  text-shadow: 2px 2px 0px #0b5863;
  transition: all 0.3s ease-in-out;
}
.header .header-icon:hover {
  transform: scale(1.1);
}
.header .author {
  display: none;
  flex-grow: 1;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
  font-size: 16px;
  line-height: 16px;
  opacity: 0.25;
  font-weight: 100;
}
@media (min-width: 590px) {
  .header .author {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .header .author {
    font-size: 18px;
  }
}
.header .author .heart {
  color: #d90000;
  font-size: 18px;
}
@media (min-width: 768px) {
  .header .author .heart {
    font-size: 20px;
  }
}

.main {
  display: block;
  width: 100%;
  font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  margin-top: 68px;
  padding-top: 20px;
  position: relative;
  box-sizing: border-box;
  background-color: #f8f9fa;
}

.weather-icon {
  width: 80px;
  height: 80px;
}
@media (min-width: 768px) {
  .weather-icon {
    width: 100px;
    height: 100px;
  }
}

.cancel-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  cursor: pointer;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  /* Style */
  position: absolute;
  right: 10px;
  top: 5px;
}
.cancel-button .icon-cancel {
  font-size: 24px;
  color: #e53935;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}
.cancel-button:hover .icon-cancel {
  opacity: 1;
}

.soon-forecast {
  display: inline-block;
  font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif;
  color: #495057;
  font-weight: bold;
  font-size: 24px;
  opacity: 0.5;
}

.weather {
  position: relative;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  box-sizing: border-box;
  width: 90%;
  max-width: 1200px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  margin: 10px auto;
  padding: 10px 25px;
  box-shadow: 0 1/8rem 1/8rem 0 rgba(0, 0, 0, 0.05);
  will-change: height;
  transition: height 0.5s ease-in-out;
}
@media (min-width: 768px) {
  .weather {
    padding: 10px 50px;
    width: 80%;
  }
}
.weather .main-info {
  width: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 460px) {
  .weather .main-info {
    flex-direction: column;
  }
}
.weather .main-info .column-1 {
  text-align: left;
}
@media (max-width: 460px) {
  .weather .main-info .column-1 {
    text-align: center;
  }
}
.weather .main-info .column-2 {
  display: flex;
  flex-grow: 1;
  text-align: right;
  align-items: center;
  justify-content: flex-end;
  margin-right: 19px;
}
@media (min-width: 768px) {
  .weather .main-info .column-2 {
    margin-right: 22px;
  }
}
@media (max-width: 460px) {
  .weather .main-info .column-2 {
    margin-right: 0;
    margin-top: 8px;
  }
}
.weather .main-info .name {
  font-size: 18px;
  font-weight: 400;
  color: #597ea2;
}
@media (min-width: 768px) {
  .weather .main-info .name {
    font-size: 20px;
  }
}
.weather .main-info .flag {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
}
.weather .main-info .desc {
  font-size: 14px;
  display: inline-block;
  color: #597ea2;
}
@media (min-width: 768px) {
  .weather .main-info .desc {
    font-size: 16px;
  }
}
.weather .main-info .desc + .desc {
  margin-left: 5px;
}
.weather .main-info .desc + .desc::before {
  content: ' - ';
}
.weather .main-info .weather-icon-wrapper {
  display: inline-block;
}
.weather .main-info .temp {
  position: relative;
  display: inline-block;
}
.weather .main-info .temp .units {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 48px;
  width: 70px;
}
@media (min-width: 768px) {
  .weather .main-info .temp .units {
    font-size: 64px;
    width: 94px;
  }
}
.weather .main-info .temp .metrics {
  font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif;
  width: 17px;
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  top: 14px;
}
@media (min-width: 768px) {
  .weather .main-info .temp .metrics {
    width: 25px;
    font-size: 24px;
    top: 18px;
  }
}
.weather .cancel-button .icon-cancel {
  opacity: 0;
}
.weather:hover .cancel-button .icon-cancel {
  opacity: 0.25;
}
.weather:hover .cancel-button:hover .icon-cancel {
  opacity: 1;
}
.weather .extra-info {
  /* Test */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  background-color: #f8f8f8;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.weather__selected {
  height: 250px;
}
.weather__selected .extra-info {
  opacity: 1;
}

.weather-list {
  position: relative;
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.weather-list .weather-element {
  margin: 0;
  padding: 0;
}
.weather-list .weather-element.skipFlipAnimation {
  visibility: hidden;
}

.modal-container {
  display: none;
  position: fixed;
  background-color: rgba(34, 34, 34, 0.55);
  background-color: #2228;
  width: 100%;
  height: 100%;
  z-index: 4;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.modal-container.animateOpacity {
  opacity: 1;
}
.modal-container.showOverlay {
  display: block;
}

.modal {
  display: block;
  position: relative;
  box-sizing: border-box;
  background-color: #f8f9fa;
  width: 90%;
  height: auto;
  max-width: 520px;
  margin: 120px auto 50px auto;
  padding: 20px 20px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  max-height: calc(100% - 170px);
}
@media (min-width: 768px) {
  .modal {
    padding: 20px 50px;
    max-width: 580px;
  }
}
@media (min-height: 920px) {
  .modal {
    margin: 200px auto 130px auto;
    max-height: calc(100% - 330px);
  }
}

.search-form {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  /*overflow: hidden;*/
}
.search-form .title {
  margin: 5px 0 25px 0;
}
.search-form .search-box {
  margin-bottom: 8px;
}
.search-form .input-search {
  display: inline-block;
  box-sizing: border-box;
  width: calc(100% - 105px);
  height: 32px;
  padding: 6px;
  vertical-align: bottom;
  outline: none;
  border: 2px solid #de8646;
  border-radius: 4px 0 0 4px;
  transition: all 0.3s ease-in-out;
}
.search-form .input-search:hover,
.search-form .input-search:focus,
.search-form .input-search.completed {
  border-color: #a1551d;
}
.search-form .button-search {
  position: relative;
  box-sizing: border-box;
  background-clip: border-box;
  width: 105px;
  height: 32px;
  vertical-align: bottom;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif;
  outline: none;
  border: 2px solid #de8646;
  background-color: #de8646;
  border-radius: 0 4px 4px 0;
  padding: 5px 12px;
  color: #fff;
  letter-spacing: 0.75px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  transition: all 0.3s ease-in-out;
}
.search-form .button-search .icon {
  margin-right: 8px;
}
.search-form .button-search:hover {
  border-color: #a1551d;
  background-color: #a1551d;
}
.search-form .button-search:active {
  background-color: #f1cdb2;
  border-color: #f1cdb2;
  transition: all 0.1s ease-in-out;
}
.search-form .button-search::after {
  content: '';
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  padding: 1rem;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid #f1cdb2;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  box-sizing: content-box;
}
.search-form .button-search:hover::after {
  padding: 0;
  border-color: #a1551d;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.search-form .button-search:active::after {
  border-color: #f1cdb2;
  transition: all 0.1s ease-in-out;
}

.city {
  display: flow-root;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  width: 100%;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  margin: 10px auto;
  padding: 10px 35px 10px 15px;
  box-sizing: border-box;
  box-shadow: 0 1/8rem 1/8rem 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .city {
    padding: 10px 45px 10px 25px;
  }
}
.city::after {
  content: "";
  clear: both;
  display: table;
}
.city:hover {
  border-color: #ddd;
  box-shadow: 0 1/8rem 1/8rem 0 rgba(0, 0, 0, 0.12);
}
@media (min-width: 768px) {
  .city:hover {
    transform: scale(1.05);
  }
}
.city .column-1 {
  display: inline-block;
  float: left;
  width: calc(100% - 60px);
  text-align: left;
}
.city .column-2 {
  display: inline-block;
  float: right;
  width: 60px;
  text-align: right;
}
.city .name {
  font-size: 18px;
  font-weight: 400;
  color: #597ea2;
}
@media (max-width: 460px) {
  .city .name {
    font-size: 16px;
  }
}
.city .flag {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  margin-bottom: 2px;
}
@media (max-width: 460px) {
  .city .flag {
    height: 22px;
    width: 22px;
  }
}
.city .descr {
  font-size: 16px;
}
@media (max-width: 460px) {
  .city .descr {
    font-size: 14px;
  }
}
.city .temp {
  position: relative;
}
.city .temp .units {
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
}
@media (max-width: 460px) {
  .city .temp .units {
    font-size: 36px;
    line-height: 36px;
  }
}
.city .temp .metrics {
  font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif;
  width: 21px;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  top: 2px;
}

.city-list-title {
  font-family: 'Open Sans', sans-serif;
  margin: 25px 0 5px 0;
}
.city-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.city-list .city-element {
  margin: 0;
  padding: 0;
}

.new-city-card {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 90%;
  max-width: 240px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  margin: 24px auto;
  box-shadow: 0 1/8rem 1/8rem 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .new-city-card {
    max-width: 280px;
  }
}
.new-city-card:hover {
  border-color: #ddd;
  box-shadow: 0 1/8rem 1/8rem 0 rgba(0, 0, 0, 0.12);
}
@media (min-width: 768px) {
  .new-city-card:hover {
    transform: scale(1.1);
  }
}
.new-city-card .container {
  position: relative;
  padding: 10px 25px;
}
.new-city-card .container.icons {
  height: 142px;
}
@media (min-width: 768px) {
  .new-city-card .container.icons {
    height: 172px;
  }
}
.new-city-card .container .icon-rain {
  position: absolute;
  width: 174px;
  height: 174px;
  top: -46px;
  left: calc(50% - 174px/2);
  z-index: 3;
  pointer-events: none;
}
@media (min-width: 768px) {
  .new-city-card .container .icon-rain {
    width: 200px;
    height: 200px;
    top: -50px;
    left: calc(50% - 200px/2);
  }
}
.new-city-card .container .icon-city {
  position: absolute;
  font-size: 64px;
  bottom: 18px;
  left: calc(50% - 35px);
  color: #ff922b;
  z-index: 2;
}
@media (min-width: 768px) {
  .new-city-card .container .icon-city {
    font-size: 69px;
    bottom: 20px;
    left: calc(50% - 42px);
  }
}
.new-city-card .container .title {
  font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif;
  margin: 5px 0;
}
.new-city-card .container .description {
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0;
}
.new-city-card .container:not(:first-child) {
  border-top: 1px solid #eee;
}

